@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&display=swap');

:root {
    --md-alert-note: #418dff;
    --md-alert-tip: #45d158;
    --md-alert-important: #ad83f7;
    --md-alert-warning: #eeb232;
    --md-alert-caution: #f55951;
}

.md-container {
    display: block;

    * {
        > span {
            white-space: pre;
            margin: 0px;
        }

        > bold {
            font-weight: bold;
        }
        
        > italic {
            font-style: italic;
        }
        
        > strikethrough {
            text-decoration: line-through;
        }

        > img {
            max-height: 30px;
        }

        > checkbox {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding-left: 1px;
            box-sizing: border-box;

            width: 20px;
            height: 20px;
            margin: 5px;

            background-color: var(--seco);
            border: var(--tert) 1px solid;
            border-radius: 5px;
            color: var(--text);
        }
    }

    p {
        display: flex;
        align-items: center;

        margin-top: 0;
        margin-bottom: 10px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 12.5px;
    }

    h1, h2 {
        border-bottom: 2px solid var(--prim);
        margin-bottom: 15px;
    }

    hr {
        border: none;
        background-color: var(--seco);
        height: 2px;
        margin-bottom: 12.5px;
    }
    
    blockquote {
        margin: 0;
        margin-bottom: 10px;
        padding-left: 40px;
        
        border-left: 2px solid var(--prim);
    }

    .code-block {
        position: relative;

        margin-bottom: 10px;

        > button {
            position: absolute;
            top: 5px;
            right: 5px;

            width: 35px;
            height: 35px;

            display: flex;
            align-items: center;

            background-color: var(--seco);
            border: var(--tert) 1px solid;
            border-radius: 10px;
            color: var(--text);

            cursor: pointer;

            transition: background-color .1s;
        }
        > button:hover {
            background-color: var(--tert);
        }
    }
    .code-block-inline {
        margin: 2.5px;
        padding: 6px;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .code-block, .code-block-inline {
        background-color: var(--prim);
        border: var(--seco) 1px solid;
        border-radius: 10px;
    }

    table {
        margin-top: 10px;
        margin-bottom: 10px;
        
        background-color: var(--prim);
        border: var(--seco) 1px solid;
        border-radius: 10px;

        border-spacing: 0;
        
        > thead > tr > th {
            padding: 5px;
            border-spacing: 0px;
        }
        > tbody > tr > td {
            padding: 5px;
        }

        > td, th {
            border-right: 1px solid var(--seco);
            border-bottom: 1px solid var(--seco);
        }

        > td:last-child,
        > th:last-child {
            border-right: none;
        }

        > tr:last-child td {
            border-bottom: none;
        }
    }

    ol > li {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    img {
        max-width: 20%;
    }

    > .alert {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-top: 5px;

        border-left: 3px solid var(--prim);

        > .header {
            display: flex;
            align-items: center;

            margin-bottom: 10px;
            
            > svg {
                margin-right: 7px;
            }
            > p {
                margin: 0;
                font-weight: 600;
            }
        }
    }

    > .alert-note {
        border-color: var(--md-alert-note);
        .header {
            color: var(--md-alert-note);
        }
    }
    > .alert-tip {
        border-color: var(--md-alert-tip);
        .header {
            color: var(--md-alert-tip);
        }
    }
    > .alert-important {
        border-color: var(--md-alert-important);
        .header {
            color: var(--md-alert-important);
        }
    }
    > .alert-warning {
        border-color: var(--md-alert-warning);
        .header {
            color: var(--md-alert-warning);
        }
    }
    > .alert-caution {
        border-color: var(--md-alert-caution);
        .header {
            color: var(--md-alert-caution);
        }
    }

    > .column {
        display: flex;

        > div {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }

    > .box {
        background-color: var(--back);
        border: var(--seco) 2px solid;
        border-radius: 10px;
        padding: 10px;

        padding-bottom: 0px;
    }

    > .tabs {
        background-color: var(--back);
        border: var(--seco) 1px solid;
        border-radius: 10px;

        > .header {
            display: flex;
            height: 30px;

            border-radius: 10px 10px 0 0;
            background-color: var(--prim);
            border-bottom: var(--seco) 1px solid;
            overflow-x: auto;
            overflow-y: hidden;

            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */

            > button {
                padding: 0 15px;

                border: none;
                outline: none;
                border-bottom: 0px solid var(--accent);
                border-right: var(--seco) 1px solid;

                background-color: var(--prim);
                color: var(--text);

                font-size: 15px;
                text-wrap: nowrap;
                cursor: pointer;

                transition: background-color .1s, border-bottom .1s;
            }
            > button.selected {
                border-bottom: 2.5px solid var(--accent);
            }
            > button:hover {
                background-color: var(--seco);
            }
        }

        > .body {
            padding: 10px;
            margin-bottom: -10px;

            > div {
                display: none;
            }
            > div.selected {
                display: block;
            }
        }
    }
}

.code-content {
    padding: 10px;
    padding-left: 12.5px;

    .code_token {
        white-space: pre;
        color: #f700ff;
        font-family: 'jetbrains mono';
    }

    .code_token_word {
        color: #fff;
    }
    .code_token_keyword {
        color: #FB6C48;
    }
    .code_token_constant {
        color: #DF4559;
    }
    .code_token_operator {
        color: #E37F27;
    }
    .code_token_variable {
        color: #9CC5E3;
    }
    .code_token_type {
        color: #68D087;
    }
    .code_token_function {
        color: #559CD7;
    }
    .code_token_punctuation {
        color: #CECECE;
    }
    .code_token_bracket {
        color: #ffe629;
    }
    .code_token_string {
        color: #56CA86;
    }
    .code_token_comment {
        color: #9555B3;
        font-style: italic;
    }
    .code_token_decorator {
        color: #96FFF3;
    }
    .code_token_property_holder {
        color: #B5D5FF;
    }
    .code_token_escape {
        color: #FB6C48;
        font-style: italic;
    }
    .code_token_subst {
        color: #9CC5E3;
    }
    .code_token_regexp {
        color: #56CA86;
    }
    .code_token_symbol {
        color: #DF4559;
    }
    .code_token_property {
        color: #B5D5FF;
    }
    .code_token_meta {
        color: #CECECE;
        font-style: italic;
    }
    .code_token_title {
        color: #559CD7;
        font-weight: bold;
    }
    .code_token_tag {
        color: #FB6C48;
    }
    .code_token_attribute {
        color: #68D087;
    }
}