
#content-container > header {
    margin-top: 20px;
    border-bottom: 1px solid var(--prim);

    h1 {
        margin: 0;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    div {
        display: flex;
        align-items: center;
        color: var(--link);
        margin-left: 10px;
        margin-bottom: 5px;

        span {
            font-size: 16px;
        }
        div {
            margin: 5px;
        }
    }
}

.page-dir-grid {
    margin-top: 10px;

    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(2, 50%);

    a {
        position: relative;
        display: flex;
        align-items: center;

        padding: 10px;

        background-color: var(--back);
        border: var(--seco) 1px solid;
        border-radius: 10px;
        color: var(--text);

        cursor: pointer;
        transition: border-color .1s, color .2s;

        div {
            position: absolute;
            right: 10px;

            width: 20px;
            height: 20px;

            transition: right .15s;
        }
    }
    a:hover {
        border-color: var(--seco-hover);
        color: var(--accent);

        div {
            right: 6px;
        }
    }
}
