@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --color: #464d68;
    --accent: #c299cf;
    --text: #D9D9D9;

    /*--back: #202331;*/
    /*--prim: #282c3d;*/
    /*--seco: #303549;*/

    --back: color-mix(#000 50%, var(--color) 50%);
    --prim: color-mix(var(--back), var(--color) 20%);
    --seco: color-mix(var(--back), var(--color) 40%);

    --max-width: 1500px;

    --link: rgb(142, 111, 255);
    --link-visited: rgb(231, 137, 243);
}

:root {
    color: var(--text);
    font-family: "Poppins", sans-serif;
}

a {
    color: var(--link);
}
a:visited {
    color: var(--link-visited);
}

body {
    margin: 0px;

    height: 100vh;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    background-color: var(--back);
}

#topbar {
    height: 65px;
    
    border-bottom: 1px solid var(--prim);
}

#app-container {
    display: flex;

    flex: 1;

    justify-content: center;
}

#app {
    display: flex;

    width: 100vw;
    max-width: 1500px;
}

#sidebar {
    display: flex;
    flex-direction: column;

    width: 300px;
}

#content {
    display: flex;
    justify-content: center;

    flex: 1;

    background-color: var(--back);

    overflow: auto;
    max-height: 100vh;
}

#content::-webkit-scrollbar {
    width: 10px;
    padding: 5px;
}
#content::-webkit-scrollbar-thumb {
    background: #2e2e2e;
    border-radius: 8px;
    transition: background-color 1s ease;
}
#content::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

#content-container {
    min-width: 150px;
    max-width: 1000px;
    width: 100%;
}